@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply mx-6 pb-2 cursor-pointer text-[14px] flex items-center
  }
  body {
    @apply bg-[url("/background.png")] bg-fixed bg-no-repeat object-cover bg-cover text-[#ececed] font-semibold select-none
  }
  .img {
    @apply cursor-pointer rounded-md h-[144px] w-[257px] relative hover:scale-105 hover:ease-out duration-500 outline outline-transparent hover:outline-slate-200 outline-4
  }
  .img img,
  .img-big img {
    @apply rounded-md
  }
  .img-big {
    @apply cursor-pointer rounded-md outline outline-transparent hover:outline-slate-400 outline-4 hover:ease-in-out duration-200
  }
  button {
    @apply tracking-[1.5px]
  }
}
.shadow {
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}
.nav-shadow {
  box-shadow: 0 0 40px black;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
/* transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
html {
  line-height: 1.15;
  font-family: Avenir-World-for-Disney-Demi,sans-serif;
}
.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}